<a href="/#articles/<%=article.id %>" data-article-id="<%=article.id %>" >
<div class="tile" 
     id="article" 
     data-article-id="<%=article.id %>" 
     data-placementId="<%=placementId %>"
     style="
      height: <%= imgHeight %>px;
      width: <%= imgWidth %>px;
      <% if(article.get("article_photos").models.length > 0 ) { %>
        background-image: url('<%- article.get('article_photos').models[0].get('thumbnail_url') %>'); 
      <% } else { %>
        background-image: url('article_placeholder.png'); 
      <% } %>
    " 
>
  <div class="opaque"
       style="
       height: <%= imgHeight %>px;
        width: <%= imgWidth %>px;
       "
  >
  </div>

  <h4 class="tile-title"><%- article.get("title") %></h4>
</div>
</a>
