<% allTaggings.forEach(function(tagging, index) { %>
  <% if (!currentTaggings.findWhere({id: tagging.id})) { %>
  <div class="tagging">
    <input type="hidden" 
           name="recipe[tags_attributes][<%= index %>][user_id]" 
           value="<%= ThermosCook.CurrentUser.id %>"
    >
    <label for="select<%= index %>">
      <input id="select<%= index %>" 
             type="checkbox" 
             name="recipe[tags_attributes][<%= index %>][tagging_id]" 
             value="<%= tagging.id %>"
      >
      <span><%- tagging.get("name") %></span>
    </label>
  </div>
  <% } %>
<% }); %>
