<a href="/#recipes/<%=recipe.id %>" data-recipe-id="<%=recipe.id %>" >
<div class="tile" 
     id="recipe" 
     data-recipe-id="<%=recipe.id %>" 
     data-placementId="<%=placementId %>"
     style="
      height: <%= imgHeight %>px;
      width: <%= imgWidth %>px;
      <% if(recipe.get("recipe_photos").models.length > 0 ) { %>
        background-image: url('<%- recipe.get('recipe_photos').models[0].get('thumbnail_url') %>'); 
      <% } else { %>
        background-image: url('recipe_placeholder.png'); 
      <% } %>
    " 
>

  <div class="opaque"
       style="
       height: <%= imgHeight %>px;
        width: <%= imgWidth %>px;
       "
  >
  </div>

    <h4 class="tile-title"><%- recipe.get("name") %></h4>
    <div class="tile-like" >
      <span><i class="fa fa-heart color-red"></i></span>
      <span class="like-count"><%= recipe.get("likes") %></span>
    </div>
    <div class="tile-pinterest" >
    </div>
</div>
</a>
