<div class="container">
  <div class="errors"></div>
  <div class="warnings"></div>
  <div class="successes"></div>
  <div class="row">
      <div class="galleria"></div>
    <div class="recipe-title-description">
      <h3 class="recipe-title"><%- recipe.get("name") %></h3>
      <p><%- recipe.get("description") %></p>
      <p><%= recipe.get("cook_time")%></p>
      <p><%= recipe.get("prep_time")%></p>
    </div>
  </div>
  <div class="row">
    <div id="like">
      <% if (currentUser.get('likes').findWhere({recipe_id: recipe.id})) { %>
        <a href="#" class="btn btn-primary like-button"><i class="fa fa-heart color-red"></i> Liked</a>
      <% } else { %>
        <a href="#" class="btn btn-primary like-button"><i class="fa fa-heart"></i> Like</a>
      <% } %>
    </div>
    <h4>Ingredients</h4>
    <div id="ingredients">
    </div>
    <h4>Instructions</h4>
    <div id="instructions">
    </div>
    <% if(recipe.get("user_id") == currentUser.id) { %>
      <a class="delete-recipe btn btn-primary" href="#">Delete</a>
      <a class="edit-recipe btn btn-primary" href="#recipes/<%= recipe.id %>/edit">Edit</a>
    <% } %>
  </div>
  <div class="row">
    <h4>Tags</h4>
    <div class="taggings">
      <% recipe.get("taggings").forEach(function(tagging) { %>
        <div class="tagging">
          <span><%- tagging.get("name") %></span>
        </div>
      <% }); %>
    </div>
  </div>
</div>
